<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задача 2</title>
</head>
<body>
    <p>Маркированный список формируется парным тегом <dfn>&lt;ul&gt;</dfn> (от англ. <em>unordered list</em>).<br>
    Сам элемент <strong>&lt;ul&gt;</strong> используется, как контейнер для пунктов списка,<br>
    которые формируются, как и в случае с нумерованными списками,<br>
    парными тегами <strong>&lt;li&gt;</strong> и располагаются друг за другом.
    </p>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задача 1</title>
</head>
<body>
    <pre style="color: orange;">
Осень наступила,
Падают листы.
Мне никто не нужен,
Только Ты.
    </pre>
    <address style="color: green;">
        Васюткин А.А.
    </address>
    <hr>
</body>
</html>

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Задача 3</title>
</head>
<body>
    <pre>
    ..      ..   ..........   ...          ...   ..
    ..      ..   ..........   ....        ....   ..
    ..      ..       ..       .. ..      .. ..   ..
    ..........       ..       ..  ..    ..  ..   ..
    ..........       ..       ..   ......   ..   ..
    ..      ..       ..       ..    ....    ..   ..
    ..      ..       ..       ..     ..     ..   ..
    ..      ..       ..       ..            ..   .........
    ..      ..       ..       ..            ..   .........
    </pre>
</body>
</html>


